body {
  font-family: Arial;
  background: #111;
  color: white;
  text-align: center;
}

.products {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card {
  background: #222;
  padding: 15px;
  border-radius: 10px;
}