<link rel="stylesheet" href="/style.css">

<h1>👟 StreetShop</h1>

<h2>Productos</h2>

<div class="products">
  {{#each products}}
    <div class="card">
      <h3>{{this.title}}</h3>
      <p>{{this.description}}</p>
      <p>💲 {{this.price}}</p>
    </div>
  {{/each}}
</div>